<!-- Template for logged-in users -->

<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
  <body>
    <div class="up-bar">
      <div class="title">
          Catalog App
      </div>
      <div class="logout">
        <a href='{{url_for("gDisconnect")}}'>Log Out</a>
      </div>
    </div>

  <div class="container darkblue-box">
  			<h1>Categories</h1>
  		{% for category in categories %}
        <ul>
    			<li>{{category.id}}</li>
    			<li>{{category.name}}</li>
  			  <li>
            <a href='{{url_for("editCategory", category_id = category.id) }}'><button>Edit</button></a>
      			<a href = '{{url_for("deleteCategory", category_id = category.id) }}'><button>Delete</button></a>
      			<a href = '{{url_for("showItems", category_id = category.id) }}'><button>Show Items</button></a>
          </li>
      </ul>
  		{% endfor %}
  			<div>
  				<a class="new-category" href = '{{url_for('newCategory')}}'>Create New Category</a>
  			</div>
  </div>
</body>

</html>
