<!-- Template for logged-in users to edit items -->

<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
  <body>
    <div class="up-bar">
      <div class="title">
          Catalog App
      </div>
      <div class="logout">
        <a href='{{url_for("gDisconnect")}}'>Log Out</a>
      </div>
    </div>
    <div class="container dark-blue">
      <h2>Edit Info for {{item.name}}</h2>
      <form action="{{url_for('editItem', category_id = category.id, item_id = item.id)}}"
        method = 'POST'>
        <div><input type='text' size='30' name='name' value = '{{item.name}}'></div>
        <div><textarea size='30' cols="80" rows="5" name='description'value='{{item.description}}'></textarea><div>
        <div><input type='text' size='30' name='price' value='{{item.price}}'></div>
        <input class="button" type='submit' value='Submit'>
        <a href = '{{url_for("showItems", category_id = category.id)}}'>Cancel</a>
      </form>
    </div>
</body>
</html>
